<nav class="navbar navbar-default">
<div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <!--<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>-->
        <a class="navbar-brand" href="/home"><i class="fa fa-home fa-fw" aria-hidden="true"></i>&nbsp; Gestor del Hogar</a>
    </div>
 
<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">
      <!--<li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
      <li><a href="#">Link</a></li>-->
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-bars" aria-hidden="true" > </i></a>
        <ul class="dropdown-menu">
          <li><a href="/compra"><i class="fa fa-shopping-cart padding-ico" aria-hidden="true"></i> Listas Compra</a></li>
          <li><a href="/gasto"><i class="fa fa-credit-card padding-ico" aria-hidden="true"></i> Gastos</a></li>
          <li><a href="/tarea"><i class="fa fa-tasks padding-ico" aria-hidden="true"></i> Tareas</a></li>
          <li><a href="/calendario"><i class="fa fa-calendar padding-ico" aria-hidden="true"></i> Calendario</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="/usuario"><i class="fa fa-user-o padding-ico" aria-hidden="true"></i> Mi Perfil</a></li>
        </ul>
      </li>
    </ul>
    <!--<form class="navbar-form navbar-left" role="search">
      <div class="form-group">
        <input type="text" class="form-control" placeholder="Search">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>-->
    <ul class="nav navbar-nav navbar-right">
      <li><p class="navbar-text">{{usuario.nombre}} <i> ({{usuario.nombreFamilia}})</i></p></li>
      <li><a href="javascript:void(0)" (click)="logout()" data-toggle="tooltip" title="Cerrar sesión"><i class="fa fa-sign-out" aria-hidden="true" ></i></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>
